mixin widget(data = {})
  - const { defaults, mergeConfig } = require('/assets/js/_defaults/widget/_defaults');
  - const modefied = mergeConfig(data, defaults);
  - const isRows = modefied.isRows ? 'widget-rows' : '';
  - const color = modefied.color ? 'widget-' + modefied.color : '';

  .widget(class=isRows + color + ' ' + modefied.position)
    .widget__heading
      .widget__head
        svg.widget__icon
          use(xlink:href="#" + modefied.icon)
        .widget__title(class=modefied.titleClass)= modefied.title
        if modefied.tip
          .widget__tip(class=modefied.isHidden ? 'expanded' : false)
            svg
              use(xlink:href="#other-info-icon")
            .widget__hint= modefied.content
      if modefied.mainValue.value
        .widget__mainValue(data-awaiting-value=modefied.mainValue.awaiting data-reality-value=modefied.mainValue.reality)= modefied.mainValue.value
    .widget__values(class=modefied.isFourValues ? 'widget__values-fourvalues' : false)
      each value in modefied.values
        if value.progress
          .widget__progress
            .widget__value(data-awaiting-value=value.awaiting data-reality-value=value.reality)= value.value
              .widget__hint !{value.progress.content}
            span(data-awaiting-value=value.progress.awaiting + '%' data-reality-value=value.progress.reality + '%')=value.progress.value + '%'
            progress(value=value.progress.value min="0" max="100" data-awaiting-value=value.progress.awaiting data-reality-value=value.progress.reality)
        else
          .widget__value
            span(class=modefied.buttons.length ? 'widget__value-buttons' : '' data-awaiting-value=value.awaiting data-reality-value=value.reality)= value.value
            if value.title
              p(class=value.class data-awaiting-value=value.class ? value.awaiting : false data-reality-value=value.class ? value.reality : false)= value.title
            if modefied.buttons.length
              .widget__buttons
                each button in modefied.buttons
                  +button({
                    view: button.view,
                    class: 'button-icon widget__button',
                    href: button.href,
                    icon: button.icon,
                    isOnlyIcon: true,
                    isDownload: button.isDownload,
                  })
    if modefied.isProgresses
      .widget__subtitle= modefied.subtitle
      .widget__progresses
        each progress in modefied.progresses
          .widget__progress
            .widget__progress__title= progress.title
              .widget__hint !{progress.content}
            span(data-awaiting-value=progress.awaiting + '%' data-reality-value=progress.reality + '%')=progress.value + '%'
            progress(value=progress.value min="0" max="100" data-awaiting-value=progress.awaiting data-reality-value=progress.reality)