mixin input(data = {})
  - const { defaults, mergeConfig } = require('/assets/js/_defaults/input/_defaults');
  - const modefied = mergeConfig(data, defaults);

  if modefied.isLabel && modefied.type !== 'checkbox' && !modefied.isTextarea
    label.input.input-with-label
      span.input__label= modefied.label
        sup *
      .input__container
        input.input__el(class=modefied.class disabled=modefied.isDisabled type=modefied.type required=modefied.isRequired autocomplete=modefied.autocomplete placeholder=modefied.placeholder name=modefied.name)
        if modefied.class == 'error'
          .error__text
            svg
              use(xlink:href="#other-error-icon")
            span Обязательно к заполнению

  else if !modefied.isLabel && modefied.type !== 'checkbox' && !modefied.isTextarea && !modefied.isRadio && !modefied.min && !modefied.max
    label.input.input-with-label
      .input__container
        input.input__el(class=modefied.class disabled=modefied.isDisabled type=modefied.type required=modefied.isRequired value=modefied.value autocomplete=modefied.autocomplete placeholder=modefied.placeholder name=modefied.name)
  
  else if modefied.min || modefied.max
    .input-ranges
      label.input-range
        span от
        input(type="number" min=modefied.min max=modefied.max placeholder="от" name="from")
      label.input-range
        span до
        input(type="number" min=modefied.min max=modefied.max placeholder="до" name="to")

  else if modefied.type == 'checkbox'
    .checkbox
      label(class=modefied.image ? "input-checkbox input-checkbox-with-icon " + modefied.class : "input-checkbox " + modefied.class)
        input(type="checkbox" name="checkbox" checked=modefied.isChecked value=modefied.value class=modefied.class)
        span
        if modefied.image
          img(src="" + modefied.src, alt="" + modefied.alt)
        if modefied.isLabel
          p= modefied.label
        if modefied.telegram
          a(href="https://t.me/" + modefied.telegram) #{"@" + modefied.telegram}
        if modefied.icon
          +button({
            view: 'button',
            type: 'button',
            icon: modefied.icon,
            isOnlyIcon: true,
          })

  else if modefied.isTextarea
    .textarea(class=modefied.class)
      if modefied.label
        .dropdown__label !{modefied.label}
          if modefied.isRequired
            sup *
      if modefied.isFileUpload
        label(
          class="button"
          data-id-file="add-upload-comment"
        )
          input(type="file" multiple=modefied.isMultiple)
          svg
            use(xlink:href="#other-link-icon")
      textarea(
        disabled=modefied.isDisabled
        autocomplete=modefied.autocomplete
        required= modefied.isRequired
        name=modefied.name
        placeholder=modefied.placeholder
      )

  else if modefied.type == 'radio'
    .checkbox
      label(class="input-checkbox " + modefied.class)
        input(type="radio" name=modefied.name checked=modefied.isChecked value=modefied.value class=modefied.class)
        span

  else if !modefied.isLabel
    label.input
      input.input__el(
        disabled=modefied.isDisabled
        type=modefied.type
        required=modefied.isRequired
        autocomplete=modefied.autocomplete
        placeholder=modefied.placeholder
        name=modefied.name
      )
      .input__tip= modefied.placeholder
      if modefied.type == 'password'
        button(type="button").input__toggle
          svg.input__eye
            use(xlink:href="#other-eye-icon")
          svg.input__eye.input__eye-hide
            use(xlink:href="#other-eye-closed-icon")