mixin dropdown(data = {})
  - const { defaults, mergeConfig } = require('./_defaults');
  - const modefied = mergeConfig(data, defaults);

  .dropdown(class=modefied.class)
    .dropdown__container
      if modefied.checkboxes
        .dropdown__sort
          .dropdown__values
          +button({
            view: 'button',
            class: 'button-icon',
            icon: 'other-angle-down-icon',
            isOnlyIcon: true,
          })
      .dropdown__button(class=modefied.isStatus ? modefied.color : '' + modefied.classButton)
        .dropdown__inner
          if modefied.image
            img.dropdown__image(src=modefied.src, alt=modefied.alt)
          .dropdown__label= modefied.label
        +button({
          view: 'button',
          class: 'button-icon',
          icon: 'other-angle-down-icon',
          isOnlyIcon: true,
        })
      .dropdown__list
        if modefied.isLinks && modefied.links
          each link in modefied.links
            +button({
              view: 'link',
              class: 'button-with-icon-full sm',
              icon: link.icon,
              title: link.title,
              href: link.href,
            })
            
        else if modefied.isCheckboxes && modefied.checkboxes
          +search
          .dropdown__items
            each checkbox, index in modefied.checkboxes
              +input({
                type: 'checkbox',
                class: 'input-checkbox-with-label',
                label: checkbox.title,
                name: `checkbox-${modefied.class}`,
                isChecked: checkbox.isChecked,
                value: checkbox.title,
                isLabel: true,
                image: checkbox.image,
                telegram: checkbox.telegram,
              })

        else if modefied.isPriority || modefied.isStatus
          each button, index in modefied.buttons
            label.dropdown__item
              input(
                type="radio" 
                name=`radio-${modefied.class}` 
                data-color=modefied.isPriority || modefied.isStatus ? button.color : false 
                checked=button.checked)
              p
                span(class=modefied.isPriority || modefied.isStatus ? button.color : false)= button.title

        else
          each button, index in modefied.buttons
            label.dropdown__item
              input(type="radio" name=`radio-${modefied.class}` checked=button.checked)
              p= button.title