mixin dropdown(data = {})
  - const { defaults, mergeConfig } = require('/assets/js/_defaults/dropdown/_defaults');
  - const modefied = mergeConfig(data, defaults);
  - const isSelected = modefied.isSelected ? ' selected' : '';
  - const isStatus = modefied.isStatus ? modefied.color + ' selected' : '';

  .dropdown(class= modefied.class)
    if modefied.label
      .dropdown__label !{modefied.label}
        if modefied.isRequired
          sup *
    .dropdown__container
      if !modefied.isRadios && modefied.isCheckboxes
        .dropdown__sort
          .dropdown__values
          +button({
            class: 'button-icon sm',
            icon: 'other-angle-down-icon',
            isOnlyIcon: true,
            view: 'button',
          })
      .dropdown__button(class=isSelected + modefied.classButton + ' ' + isStatus)
        if !modefied.icon
          .dropdown__inner(class=isStatus)
            if modefied.image
              img.dropdown__image(src=modefied.src, alt=modefied.alt)
            if modefied.isAll && !modefied.title
              .dropdown__title.dropdown__title-all Все
            else if modefied.isAny
              .dropdown__title.dropdown__title-all Любое
            else
              .dropdown__title= modefied.title
        if !modefied.icon
          +button({
            class: 'button-icon sm',
            icon: 'other-angle-down-icon',
            isOnlyIcon: true,
            view: 'button',
          })
        else
          +button({
            class: 'button-icon sm dropdown__icon',
            icon: modefied.icon,
            isOnlyIcon: true,
            view: 'button',
          })
      .dropdown__list
        if modefied.subtitle
          .dropdown__subtitle= modefied.subtitle
        if modefied.isCheckboxes && modefied.checkboxes && modefied.isResults
          .dropdown__results
            .dropdown__selected Выбрано:
              span 0
            .dropdown__count Показано: 25

        if modefied.isLinks && modefied.links
          each link in modefied.links
            +button({
              view: 'link',
              class: 'button-with-icon-full sm',
              icon: link.icon,
              title: link.title,
              href: link.href,
            })

        else if modefied.isCheckboxes && modefied.checkboxes
          if modefied.isSearch
            +search
          .dropdown__items
            each checkbox, index in modefied.checkboxes
              +input({
                type: 'checkbox',
                class: `input-checkbox-with-label ${checkbox.class !== '' ? checkbox.class : ''}`,
                label: checkbox.title,
                name: `checkbox-${modefied.class}`,
                isChecked: checkbox.isChecked,
                value: checkbox.title,
                isLabel: true,
                image: checkbox.image,
                telegram: checkbox.telegram,
                errorText: checkbox.errorText,
              })

        else if modefied.isRadios && modefied.buttons
          if modefied.isSearch
            +search
          .dropdown__items
            each button, index in modefied.buttons
              label.dropdown__item(data-href=button.linkHref data-title=button.linkTitle)
                if button.image
                  img.dropdown__image(src=button.image.src, alt=button.image.alt)
                input(
                  type="radio"
                  name=`radio-${button.name}`
                  checked=button.isChecked
                  data-role=button.role ? button.role : false)
                p(class=button.class)= button.title
                span= button.description

        else if modefied.isPriority || modefied.isStatus
          each button, index in modefied.buttons
            label.dropdown__item
              input(
                type="radio"
                name=`radio-${button.name}`
                data-color=modefied.isPriority || modefied.isStatus ? button.color : false
                checked=button.isChecked
                class=button.class)
              p
                span(class=modefied.isPriority || modefied.isStatus ? button.color : false)= button.title
        
        else if modefied.isButtons && modefied.buttons && !modefied.isMultiSelect && !modefied.isSingleSelect
          each button in modefied.buttons
            +button({
              view: 'button',
              class: 'button-with-icon-full sm ' + button.class,
              icon: button.icon,
              title: button.title,
              dataPopupName: button.dataPopupName,
              isFileUpload: button.isFileUpload,
              dataIdFile: button.dataIdFile,
            })
            
        else if modefied.isButtons && modefied.buttons && modefied.isMultiSelect
          each button in modefied.buttons
            +button({
              view: 'button-multi-select',
              class: 'button-with-icon-full sm ' + button.class,
              icon: button.icon,
              title: button.title,
              dataPopupName: button.dataPopupName,
              icons: button.icons,
              isFileUpload: button.isFileUpload,
              dataIdFile: button.dataIdFile,
            })
            
        else if modefied.isButtons && modefied.buttons && modefied.isSingleSelect
          each button in modefied.buttons
            +button({
              view: 'button-single-select',
              class: 'button-with-icon-full sm ' + button.class,
              icon: button.icon,
              title: button.title,
              dataPopupName: button.dataPopupName,
              icons: button.icons,
              isFileUpload: button.isFileUpload,
              dataIdFile: button.dataIdFile,
            })

        else if (modefied.isNewFormat)
          .dropdown-new__title Выберите параметры
          .dropdown-new__selects
            .dropdown-new__select.dropdown-new__select-first
              input(type="text" placeholder="В топе")
              +dropdown({
                buttons: [
                  {
                    name: 'channels-radio',
                    title: 'минуты',
                  },
                  {
                    name: 'channels-radio',
                    title: 'часы',
                  },
                  {
                    name: 'channels-radio',
                    title: 'дни',
                  },
                  {
                    name: 'channels-radio',
                    title: 'недели',
                  },
                  {
                    name: 'channels-radio',
                    title: 'месяцы',
                  },
                  {
                    name: 'channels-radio',
                    title: 'до утра',
                  },
                  {
                    name: 'channels-radio',
                    title: 'без топа',
                  },
                ],
                title: '',
              })
            .dropdown-new__separator /
            .dropdown-new__select.dropdown-new__select-second
              input(type="text" placeholder="Без удаления")
              +dropdown({
                buttons: [
                  {
                    name: 'channels-radio',
                    title: 'минуты',
                  },
                  {
                    name: 'channels-radio',
                    title: 'часы',
                  },
                  {
                    name: 'channels-radio',
                    title: 'дни',
                  },
                  {
                    name: 'channels-radio',
                    title: 'недели',
                  },
                  {
                    name: 'channels-radio',
                    title: 'месяцы',
                  },
                  {
                    name: 'channels-radio',
                    title: 'до утра',
                  },
                  {
                    name: 'channels-radio',
                    title: 'без удаления',
                  },
                ],
                title: '',
              })
          .dropdown-new__title Популярные
          .dropdown-new__values
            label.dropdown-new__value
              input(type="radio" name="popular").dropdown-new__input
              p(data-title="1 час/24 часа") 1/24
            label.dropdown-new__value
              input(type="radio" name="popular").dropdown-new__input
              p(data-title="1 час/48 часов") 1/48
            label.dropdown-new__value
              input(type="radio" name="popular").dropdown-new__input
              p(data-title="1 час/72 часа") 1/72
            label.dropdown-new__value
              input(type="radio" name="popular").dropdown-new__input
              p(data-title="2 часа/24 часа") 2/24
            label.dropdown-new__value
              input(type="radio" name="popular").dropdown-new__input
              p(data-title="2 часа/48 часов") 2/48
            label.dropdown-new__value
              input(type="radio" name="popular").dropdown-new__input
              p(data-title="2 часа/72 часа") 2/72
            label.dropdown-new__value
              input(type="radio" name="popular").dropdown-new__input
              p(data-title="3 часа/24 часа") 3/24
            label.dropdown-new__value
              input(type="radio" name="popular").dropdown-new__input
              p(data-title="3 часа/48 часов") 3/48
            label.dropdown-new__value
              input(type="radio" name="popular").dropdown-new__input
              p(data-title="3 часа/72 часа") 3/72
            label.dropdown-new__value
              input(type="radio" name="popular").dropdown-new__input
              p(data-title="4 часа/48 часов") 4/48
            label.dropdown-new__value
              input(type="radio" name="popular").dropdown-new__input
              p(data-title="4 часа/72 часа") 4/72
            label.dropdown-new__value
              input(type="radio" name="popular").dropdown-new__input
              p(data-title="30 минут/1 месяц") 30 мин/1 мес
            label.dropdown-new__value
              input(type="radio" name="popular").dropdown-new__input
              p(data-title="40 минут/1 месяц") 40 мин/1 мес
            label.dropdown-new__value
              input(type="radio" name="popular").dropdown-new__input
              p(data-title="1 час/1 месяц") 1/1 мес
            label.dropdown-new__value
              input(type="radio" name="popular").dropdown-new__input
              p(data-title="2 часа/1 месяц") 2/1 мес
            label.dropdown-new__value
              input(type="radio" name="popular").dropdown-new__input
              p(data-title="Без топа/1 месяц") Без топа/1 мес
            label.dropdown-new__value
              input(type="radio" name="popular").dropdown-new__input
              p(data-title="30 минут/2 месяца") 30 мин/2 мес
            label.dropdown-new__value
              input(type="radio" name="popular").dropdown-new__input
              p(data-title="Без топа/1 неделя") Без топа/1 нед
            label.dropdown-new__value
              input(type="radio" name="popular").dropdown-new__input
              p(data-title="1 час/1 неделя") 1/1 нед
            label.dropdown-new__value
              input(type="radio" name="popular").dropdown-new__input
              p(data-title="2 часа/1 неделя") 2/1 нед
            label.dropdown-new__value
              input(type="radio" name="popular").dropdown-new__input
              p(data-title="2 часа/4 дня") 2/4 дн
            label.dropdown-new__value
              input(type="radio" name="popular").dropdown-new__input
              p(data-title="Без топа/24 часа") Без топа/24
            label.dropdown-new__value
              input(type="radio" name="popular").dropdown-new__input
              p(data-title="Без топа/48 часов") Без топа/48
            label.dropdown-new__value
              input(type="radio" name="popular").dropdown-new__input
              p(data-title="30/24 часа") 30 мин/24
          .dropdown-new__buttons
            +button({
              class: 'button-base lg dropdown__cancel',
              title: 'Отмена',
              view: 'button',
            })
            +button({
              class: 'button-with-icon-blue lg dropdown__submit',
              title: 'Сохранить',
              type: 'submit',
              view: 'button',
            })

        else if (modefied.isFilterFormat)
          each button, index in modefied.buttons
            label.dropdown__item
              input(type="radio" name=`radio-${button.name}` checked=button.isChecked class=button.isChecked ? 'filled' : '')
              p(data-title=button.dataTitle)= button.title

        else
          each button, index in modefied.buttons
            label.dropdown__item
              if button.image
                img.dropdown__image(src=button.image.src, alt=button.image.alt)
              input(type="radio" name=`radio-${button.name}` checked=button.isChecked class=button.isChecked ? 'filled' : '')
              p(data-title=button.title)= button.title

    if modefied.isError
      .error__text
        svg
          use(xlink:href="#other-error-icon")
        span= modefied.errorText