mixin dropdown(data = {})
  - const { defaults, mergeConfig } = require('/assets/js/_defaults/dropdown/_defaults');
  - const modefied = mergeConfig(data, defaults);
  - const isSelected = modefied.isSelected ? ' selected' : '';
  - const isStatus = modefied.isStatus ? modefied.color : '';

  .dropdown(class=modefied.class)
    if modefied.label
      .dropdown__label !{modefied.label}
        if modefied.isRequired
          sup *
    .dropdown__container
      if !modefied.isRadios && modefied.isCheckboxes
        .dropdown__sort
          .dropdown__values
          +button({
            class: 'button-icon sm',
            icon: 'other-angle-down-icon',
            isOnlyIcon: true,
            view: 'button',
          })
      .dropdown__button(class=isSelected + modefied.classButton + ' ' + isStatus)
        if !modefied.icon
          .dropdown__inner(class=isStatus)
            if modefied.image
              img.dropdown__image(src=modefied.src, alt=modefied.alt)
            if modefied.isAll
              .dropdown__title.dropdown__title-all Все
            else
              .dropdown__title= modefied.title
        if !modefied.icon
          +button({
            class: 'button-icon sm',
            icon: 'other-angle-down-icon',
            isOnlyIcon: true,
            view: 'button',
          })
        else
          +button({
            class: 'button-icon sm dropdown__icon',
            icon: modefied.icon,
            isOnlyIcon: true,
            view: 'button',
          })
      .dropdown__list
        if modefied.subtitle
          .dropdown__subtitle= modefied.subtitle
        if modefied.isCheckboxes && modefied.checkboxes
          .dropdown__results
            .dropdown__selected Выбрано:
              span 0
            .dropdown__count Показано: 25

        if modefied.isLinks && modefied.links
          each link in modefied.links
            +button({
              view: 'link',
              class: 'button-with-icon-full sm',
              icon: link.icon,
              title: link.title,
              href: link.href,
            })

        else if modefied.isCheckboxes && modefied.checkboxes
          +search
          .dropdown__items
            each checkbox, index in modefied.checkboxes
              +input({
                type: 'checkbox',
                class: `input-checkbox-with-label ${checkbox.class !== '' ? checkbox.class : ''}`,
                label: checkbox.title,
                name: `checkbox-${modefied.class}`,
                isChecked: checkbox.isChecked,
                value: checkbox.title,
                isLabel: true,
                image: checkbox.image,
                telegram: checkbox.telegram,
              })

        else if modefied.isRadios && modefied.buttons
          +search
          .dropdown__items
            each button, index in modefied.buttons
              label.dropdown__item(data-href=button.linkHref data-title=button.linkTitle)
                if button.image
                  img.dropdown__image(src=button.image.src, alt=button.image.alt)
                input(type="radio" name=`radio-${button.name}` checked=button.isChecked)
                p= button.title

        else if modefied.isPriority || modefied.isStatus
          each button, index in modefied.buttons
            label.dropdown__item
              input(
                type="radio"
                name=`radio-${button.name}`
                data-color=modefied.isPriority || modefied.isStatus ? button.color : false
                checked=button.isChecked
                class=button.class)
              p
                span(class=modefied.isPriority || modefied.isStatus ? button.color : false)= button.title
        
        else if modefied.isButtons && modefied.buttons
          each button in modefied.buttons
            +button({
              view: 'button',
              class: 'button-with-icon-full sm',
              icon: button.icon,
              title: button.title,
              dataPopupName: button.dataPopupName,
            })
            
        else
          each button, index in modefied.buttons
            label.dropdown__item
              if button.image
                img.dropdown__image(src=button.image.src, alt=button.image.alt)
              input(type="radio" name=`radio-${button.name}` checked=button.isChecked class=button.isChecked ? 'filled' : '')
              p= button.title