mixin heading(data = {})
  - const { defaults, mergeConfig } = require('/assets/js/_defaults/heading/_defaults-heading');
  - const modefied = mergeConfig(data, defaults);

  .heading(class=modefied.isAdmin ? 'heading-admin' : '')
    .heading__container
      .heading__left
        if modefied.isChannel || modefied.isAdmin
          .heading__avatar
            if modefied.image
              img(src=modefied.src, alt=modefied.alt)
            else
              span
        .heading__content
          .heading__top
            if modefied.isRk
              h1.heading__title
                span.companies__kp_rk.companies-big КП+РК
                span= modefied.title
            else
              h1.heading__title
                input(type="text" name="title" value=modefied.title placeholder="Введите имя")
                .error-admin 
                  <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <rect width="16" height="16" fill="white" fill-opacity="0.01"/>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M8.50919 2.65537C8.67117 2.72249 8.81833 2.82086 8.94228 2.94487L13.0543 7.05621C13.1784 7.18016 13.2768 7.32737 13.344 7.48941C13.4112 7.65144 13.4458 7.82513 13.4458 8.00054C13.4458 8.17595 13.4112 8.34964 13.344 8.51168C13.2768 8.67371 13.1784 8.82092 13.0543 8.94487L8.94228 13.0562C8.81833 13.1802 8.67117 13.2786 8.50919 13.3457C8.34722 13.4128 8.17361 13.4474 7.99828 13.4474C7.82295 13.4474 7.64934 13.4128 7.48736 13.3457C7.32539 13.2786 7.17822 13.1802 7.05428 13.0562L2.94228 8.94487C2.81817 8.82092 2.71971 8.67371 2.65253 8.51168C2.58536 8.34964 2.55078 8.17595 2.55078 8.00054C2.55078 7.82513 2.58536 7.65144 2.65253 7.48941C2.71971 7.32737 2.81817 7.18016 2.94228 7.05621L7.05428 2.94487C7.17822 2.82086 7.32539 2.72249 7.48736 2.65537C7.64934 2.58826 7.82295 2.55371 7.99828 2.55371C8.17361 2.55371 8.34722 2.58826 8.50919 2.65537ZM7.52687 9.13827C7.6519 9.2633 7.82146 9.33354 7.99828 9.33354C8.17509 9.33354 8.34466 9.2633 8.46968 9.13827C8.5947 9.01325 8.66494 8.84368 8.66494 8.66687V5.33354C8.66494 5.15673 8.5947 4.98716 8.46968 4.86213C8.34466 4.73711 8.17509 4.66687 7.99828 4.66687C7.82146 4.66687 7.6519 4.73711 7.52687 4.86213C7.40185 4.98716 7.33161 5.15673 7.33161 5.33354V8.66687C7.33161 8.84368 7.40185 9.01325 7.52687 9.13827ZM7.52687 11.1383C7.6519 11.2633 7.82146 11.3335 7.99828 11.3335C8.17509 11.3335 8.34466 11.2633 8.46968 11.1383C8.5947 11.0133 8.66494 10.8437 8.66494 10.6669C8.66494 10.4901 8.5947 10.3205 8.46968 10.1955C8.34466 10.0704 8.17509 10.0002 7.99828 10.0002C7.82146 10.0002 7.6519 10.0704 7.52687 10.1955C7.40185 10.3205 7.33161 10.4901 7.33161 10.6669C7.33161 10.8437 7.40185 11.0133 7.52687 11.1383Z" fill="#DE350B"/>
                  </svg>
                  span Макс. длина - 60 символов
            if modefied.isChannel
              +dropdown({
                buttons: [
                  {
                    dataPopupName: 'edit-mode',
                    icon: 'other-edit2-icon',
                    title: 'Режим редактирования',
                  },
                  {
                    dataPopupName: 'delete-post',
                    icon: 'other-trash-icon',
                    title: 'Удалить',
                  },
                ],
                class: 'dropdown-base heading__dropdown-base',
                isButtons: true,
              })

            if modefied.isAdmin
              +dropdown({
                buttons: [
                  {
                    dataPopupName: 'admin-edit-mode',
                    icon: 'other-edit2-icon',
                    title: 'Режим редактирования',
                  },
                  {
                    icon: 'other-archive-icon',
                    title: 'Архивировать',
                  },
                  {
                    dataPopupName: 'delete-post',
                    icon: 'other-trash-icon',
                    title: 'Удалить',
                  },
                ],
                class: 'dropdown-base heading__dropdown-base',
                isButtons: true,
              })

            if modefied.isRk
              +dropdown({
                buttons: [
                  {
                    dataPopupName: 'delete-rk',
                    icon: 'other-trash-icon',
                    title: 'Удалить',
                  },
                ],
                class: 'dropdown-base heading__dropdown-base',
                isButtons: true,
              })

            if modefied.isChannel || modefied.isAdmin
              +button({
                class: 'heading__addtofavorites',
                icon: 'aside-favorites-icon',
                isOnlyIcon: true,
                view: 'button',
              })

            if modefied.isChannel || modefied.isAdmin
              .heading__status.status(class="status-green") Активный

            if modefied.isRk
              +dropdown({
                buttons: [
                  {
                    color: 'status-blue',
                    isChecked: true,
                    title: 'Новая РК',
                  },
                  {
                    color: 'status-blue',
                    title: 'Подбор каналов',
                  },
                  {
                    color: 'status-gray',
                    title: 'Отказ',
                  },
                  {
                    color: 'status-blue',
                    title: 'Подтверждение подбора',
                  },
                  {
                    color: 'status-blue',
                    title: 'Опрос канала',
                  },
                  {
                    color: 'status-blue',
                    title: 'Согласование куратором',
                  },
                  {
                    color: 'status-blue',
                    title: 'Согласование клиентом',
                  },
                  {
                    color: 'status-blue',
                    title: 'Медиаплан подтвержден',
                  },
                  {
                    color: 'status-blue',
                    title: 'Медиаплан согласован',
                  },
                  {
                    color: 'status-blue',
                    title: 'В процессе',
                  },
                  {
                    color: 'status-blue',
                    title: 'Завершено',
                  },
                ],
                class: 'dropdown-status heading__dropdown-status',
                color: 'status-blue',
                isButtons: true,
                isSelected: true,
                isStatus: true,
                title: 'Новая РК',
              })

          if modefied.isChannel || modefied.isAdmin
            .heading__bottom
              a(href="https://t.me/" + modefied.tg target="_blank").heading__channel= modefied.tg
                if modefied.isAdmin
                  img(src="/assets/images/max.svg", alt="max" width="12px" height="12px")
                  <svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <circle cx="6.5" cy="6.5" r="6" fill="white" stroke="#374151"/>
                  <g clip-path="url(#clip0_4876_14077)">
                  <path d="M10.1562 8.50899C10.0875 7.99873 9.83759 7.53021 9.45204 7.18898C9.0665 6.84776 8.57107 6.65659 8.05625 6.65039C7.69946 6.64982 7.34875 6.74275 7.03906 6.91992C7.45798 7.32909 7.7292 7.86575 7.81016 8.44571C7.83496 8.62597 7.82215 8.80942 7.77253 8.98449C7.72291 9.15955 7.63757 9.32245 7.52187 9.46289H9.34297C9.45981 9.46259 9.57524 9.43734 9.68155 9.38884C9.78785 9.34034 9.88257 9.2697 9.95938 9.18164C10.0384 9.09016 10.0969 8.98276 10.1309 8.86671C10.1649 8.75066 10.1735 8.62867 10.1562 8.50899Z" fill="#374151"/>
                  <path d="M5.24219 6.18164C5.8894 6.18164 6.41406 5.65697 6.41406 5.00977C6.41406 4.36256 5.8894 3.83789 5.24219 3.83789C4.59498 3.83789 4.07031 4.36256 4.07031 5.00977C4.07031 5.65697 4.59498 6.18164 5.24219 6.18164Z" fill="#374151"/>
                  <path d="M5.2421 6.65039C4.72709 6.65668 4.23151 6.84794 3.84581 7.18928C3.46012 7.53062 3.21002 7.99926 3.14116 8.50969C3.12423 8.62918 3.13312 8.75091 3.16725 8.86666C3.20137 8.98242 3.25993 9.08951 3.33897 9.1807C3.41553 9.26912 3.51018 9.34006 3.61653 9.38875C3.72287 9.43743 3.83842 9.46271 3.95538 9.46289H6.52882C6.64577 9.46271 6.76133 9.43743 6.86767 9.38875C6.97401 9.34006 7.06866 9.26912 7.14522 9.1807C7.22426 9.08951 7.28282 8.98242 7.31695 8.86666C7.35107 8.75091 7.35997 8.62918 7.34304 8.50969C7.27418 7.99926 7.02408 7.53062 6.63838 7.18928C6.25268 6.84794 5.75711 6.65668 5.2421 6.65039Z" fill="#374151"/>
                  <path d="M8.05469 6.18164C8.7019 6.18164 9.22656 5.65697 9.22656 5.00977C9.22656 4.36256 8.7019 3.83789 8.05469 3.83789C7.40748 3.83789 6.88281 4.36256 6.88281 5.00977C6.88281 5.65697 7.40748 6.18164 8.05469 6.18164Z" fill="#374151"/>
                  </g>
                  <defs>
                  <clipPath id="clip0_4876_14077">
                  <rect width="7.5" height="7.5" fill="white" transform="translate(2.89844 2.90039)"/>
                  </clipPath>
                  </defs>
                  </svg>

              if modefied.isChannel
                .heading__icons
                  svg
                    use(xlink:href="#label-verification-icon")
                  svg
                    use(xlink:href="#label-warning-icon")
                  svg
                    use(xlink:href="#label-scam-icon")
      .heading__right
        .heading__lastupdate
          svg
            use(xlink:href="#other-info-icon")
          span Последнее обновление: 12.12.2023