mixin link(data = {})
  - const defaults = require('./_defaults');
  - const config = { ariaLabel: data.ariaLabel !== undefined ? data.ariaLabel : defaults.ariaLabel, title: data.title !== undefined ? data.title : defaults.title, href: data.href !== undefined ? data.href : defaults.href, model: data.model !== undefined ? data.model : defaults.model, icon: data.icon !== undefined ? data.icon : defaults.icon, class: data.class !== undefined ? data.class : defaults.class, download: data.download !== undefined ? data.download : defaults.download};

  if config.model == 'confirm'
    a(
      href=config.href
      class="button button-confirm"
    )= config.title

  else if config.model == 'with-icon'
    a(
      href=config.href || '#'
      download=config.download
      class="button button-with-icon"
    )
      if config.icon
        svg
          use(xlink:href="#" + config.icon)
      span= config.title

  else if config.model == 'with-icon-blue'
    a(
      href=config.href || '#'
      class="button button-with-icon-blue"
    )
      if config.icon
        svg
          use(xlink:href="#" + config.icon)
      span= config.title

  else if config.model == 'with-icon-full'
    a(
      href=config.href || '#'
      class="button button-with-icon-full"
    )
      if config.icon
        svg
          use(xlink:href="#" + config.icon)
      span= config.title

  else if config.model == 'icon'
    a(
      href=config.href || '#'
      class="button button-icon"
      aria-label="button"
    )
      if config.icon
        svg
          use(xlink:href="#" + config.icon)

  else if config.model == 'icon-round'
    a(
      href=config.href || '#'
      class="button button-icon-round"
      aria-label="button"
    )
      if config.icon
        svg
          use(xlink:href="#" + config.icon)

  else if config.model == 'with-icon-full-lg'
    a(
      href=config.href || '#'
      class="button button-with-icon-full-lg"
    )
      span= config.title
      if config.icon
        svg
          use(xlink:href="#" + config.icon)

  else if config.model == 'with-icon-full-google'
    a(
      href=config.href || '#'
      class="button button-with-icon-full-google"
    )
      if config.icon
        svg
          use(xlink:href="#" + config.icon)
      span= config.title

  else
    a(
      href=config.href || '#'
      class="button button-base"
    )= config.title
