mixin button(data = {})
  - const { defaults, mergeConfig } = require('/assets/js/_defaults/button/_defaults');
  - const modefied = mergeConfig(data, defaults);
  - const monthPickerClass = modefied.isMonthPicker ? ' monthpicker-trigger' : '';
  - const datePickerClass = modefied.isDatePicker ? ' datepicker-trigger' : '';
  - const dateTimePickerClass = modefied.isDateTimePicker ? ' datetimepicker-trigger' : '';
  
  if modefied.view == 'button' && !modefied.isCalendar
    button(
      type=modefied.type
      class="button " + modefied.class
      disabled=modefied.isDisabled
      aria-label=modefied.ariaLabel
      data-popup-name=modefied.dataPopupName
      data-filter-name=modefied.dataFilterName
      data-title=modefied.dataTitle
    )
      if modefied.icon && modefied.iconPos == 'before'
        svg
          use(xlink:href="#" + modefied.icon)
      if modefied.title && !modefied.isOnlyIcon
        span(class=modefied.isSwitchable ? 'narrowed' : '')= modefied.title
      if modefied.icon && modefied.iconPos == 'after'
        svg
          use(xlink:href="#" + modefied.icon)
      if modefied.isClose
        svg.button-clear.filter-clear
          use(xlink:href="#other-close-icon")

  if modefied.view == 'button' && modefied.isCalendar
    label(
      class="button " + modefied.class + datePickerClass + monthPickerClass + dateTimePickerClass
    )
      if modefied.icon && modefied.iconPos == 'before'
        svg.calendar-icon
          use(xlink:href="#" + modefied.icon)
      if modefied.class.includes('calendar-month')
        input.monthpicker(type="text" name="date" placeholder="месяц" class=modefied.calendarClass readonly value=modefied.value)
      if modefied.class.includes('calendar-range')
        input.datepicker.datetimepicker-range.datepicker-range(type="text" name="date" placeholder="дд.мм.гггг" class=modefied.calendarClass value=modefied.value)
        span.calendar-clear
          <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect width="16.0005" height="16.0005" rx="8.00024" fill="#E3E5EB"/>
            <rect width="4.86957" height="4.86957" transform="translate(5.56445 5.56543)" fill="#E3E5EB"/>
            <path d="M5.56445 5.56543L10.434 10.4349" stroke="#959BA4" stroke-width="1.5" stroke-linecap="round"/>
            <path d="M5.56445 10.4346L10.434 5.56511" stroke="#959BA4" stroke-width="1.5" stroke-linecap="round"/>
          </svg>
      if modefied.class.includes('calendar-status')
        span.status(class="status-green status__trigger") Активный
        input.datepicker.datepicker-single(type="text" name="date" placeholder="дд.мм.гггг" class=modefied.calendarClass value=modefied.value)

  if modefied.view == 'link'
    a(
      href=modefied.href || "#"
      download=modefied.isDownload
      class="button " + modefied.class
      aria-label=modefied.ariaLabel
    )
      if modefied.icon
        svg
          use(xlink:href="#" + modefied.icon)
      if modefied.title && !modefied.isOnlyIcon
        span(class=modefied.isSwitchable ? 'narrowed' : '')= modefied.title
      if modefied.isClose
        svg.button-clear.filter-clear
          use(xlink:href="#other-close-icon")

  if modefied.view == 'button-single-select'
    label(
      class="button " + modefied.class
      data-id-file=modefied.dataIdFile
      data-popup-name=modefied.dataPopupName
    )
      if modefied.isFileUpload
        input(type="file")
      svg
        use(xlink:href="#" + modefied.icon)
      span= modefied.title

  if modefied.view == 'button-multi-select'
    div(
      class="button " + modefied.class
    )
      span= modefied.title
      if modefied.icons.length > 0
        .content-aside__buttons
          each icon in modefied.icons
            if icon.isFileUpload
              label(
                class="button"
                data-id-file=icon.dataIdFile
              )
                input(type="file")
                svg
                  use(xlink:href="#" + icon.icon)
            else
              button(
                class="button"
                type=icon.type
                data-popup-name=icon.dataPopupName
                aria-label=icon.ariaLabel
              )
                svg
                  use(xlink:href="#" + icon.icon)