mixin button(data = {})
  - const { defaults, mergeConfig } = require('/assets/js/_defaults/button/_defaults');
  - const modefied = mergeConfig(data, defaults);
  - const monthPickerClass = modefied.isMonthPicker ? ' monthpicker-trigger' : '';
  - const datePickerClass = modefied.isDatePicker ? ' datepicker-trigger' : '';
  - const dateTimePickerClass = modefied.isDateTimePicker ? ' datetimepicker-trigger' : '';
  
  if modefied.view == 'button' && !modefied.isCalendar
    button(
      type=modefied.type
      class="button " + modefied.class
      disabled=modefied.isDisabled
      aria-label=modefied.ariaLabel
      data-popup-name=modefied.dataPopupName
      data-filter-name=modefied.dataFilterName
      data-title=modefied.dataTitle
    )
      if modefied.icon && modefied.iconPos == 'before'
        svg
          use(xlink:href="#" + modefied.icon)
      if modefied.title && !modefied.isOnlyIcon
        span(class=modefied.isSwitchable ? 'narrowed' : '')= modefied.title
      if modefied.icon && modefied.iconPos == 'after'
        svg
          use(xlink:href="#" + modefied.icon)
      if modefied.isClose
        svg.button-clear.filter-clear
          use(xlink:href="#other-close-icon")

  if modefied.view == 'button' && modefied.isCalendar
    label(
      class="button " + modefied.class + datePickerClass + monthPickerClass + dateTimePickerClass
    )
      if modefied.icon && modefied.iconPos == 'before'
        svg.calendar-icon
          use(xlink:href="#" + modefied.icon)
      if modefied.isDatePicker && !modefied.isSinglePicker
        input.datepicker.datepicker-range(type="text" name="date" placeholder=modefied.placeholder class=modefied.calendarClass value=modefied.value)
      if modefied.isMonthPicker
        input.monthpicker(type="text" name="date" placeholder="дд.мм.гггг чч:мм - дд.мм.гггг чч:мм" class=modefied.calendarClass readonly value=modefied.value)
      if modefied.isDatePicker && modefied.isSinglePicker && !modefied.isStatusTrigger
        input.datepicker.datepicker-single(type="text" name="date" placeholder="дд.мм.гггг" class=modefied.calendarClass value=modefied.value)
      if modefied.isDateTimePicker && modefied.isSinglePicker && !modefied.isStatusTrigger
        input.datepicker.datetimepicker-single(type="text" name="date" placeholder="дд.мм.гггг" class=modefied.calendarClass value=modefied.value)
      if modefied.isDatePicker && modefied.isSinglePicker && modefied.isStatusTrigger
        span.status(class="status-green status__trigger") Активный
        input.datepicker.datepicker-single(type="text" name="date" placeholder="дд.мм.гггг" class=modefied.calendarClass value=modefied.value)
      if modefied.isCalendar
        <div class="button button-icon sm calendar-close-icon" type="button" aria-label="button"><svg viewBox="0 0 10 6" width="10" height="6"><use xlink:href="#other-angle-down-icon"></use></svg></div>

  if modefied.view == 'link'
    a(
      href=modefied.href || "#"
      download=modefied.isDownload
      class="button " + modefied.class
      aria-label=modefied.ariaLabel
    )
      if modefied.icon
        svg
          use(xlink:href="#" + modefied.icon)
      if modefied.title && !modefied.isOnlyIcon
        span(class=modefied.isSwitchable ? 'narrowed' : '')= modefied.title
      if modefied.isClose
        svg.button-clear.filter-clear
          use(xlink:href="#other-close-icon")

  if modefied.view == 'button-single-select'
    label(
      class="button " + modefied.class
      data-id-file=modefied.dataIdFile
      data-popup-name=modefied.dataPopupName
    )
      if modefied.isFileUpload
        input(type="file")
      svg
        use(xlink:href="#" + modefied.icon)
      span= modefied.title

  if modefied.view == 'button-multi-select'
    div(
      class="button " + modefied.class
    )
      span= modefied.title
      if modefied.icons.length > 0
        .content-aside__buttons
          each icon in modefied.icons
            if icon.isFileUpload
              label(
                class="button"
                data-id-file=icon.dataIdFile
              )
                input(type="file")
                svg
                  use(xlink:href="#" + icon.icon)
            else
              button(
                class="button"
                type=icon.type
                data-popup-name=icon.dataPopupName
                aria-label=icon.ariaLabel
              )
                svg
                  use(xlink:href="#" + icon.icon)