mixin button(data = {})
  - const { defaults, mergeConfig } = require('/assets/js/_defaults/button/_defaults');
  - const modefied = mergeConfig(data, defaults);
  
  if modefied.view == 'button' && !modefied.isCalendar
    button(
      type=modefied.type
      class="button " + modefied.class
      disabled=modefied.isDisabled
      aria-label=modefied.ariaLabel
      data-popup-name=modefied.dataPopupName
    )
      if modefied.icon && modefied.iconPos == 'before'
        svg
          use(xlink:href="#" + modefied.icon)
      if modefied.title && !modefied.isOnlyIcon
        span(class=modefied.isSwitchable ? 'narrowed' : '')= modefied.title
      if modefied.icon && modefied.iconPos == 'after'
        svg
          use(xlink:href="#" + modefied.icon)
      if modefied.isClose
        svg.button-clear.filter-clear
          use(xlink:href="#other-close-icon")

  if modefied.view == 'button' && modefied.isCalendar
    label(
      class="button " + modefied.class
    )
      if modefied.icon && modefied.iconPos == 'before'
        svg.calendar-icon
          use(xlink:href="#" + modefied.icon)
      if modefied.isDatePicker
        input.datepicker(type="text" name="date" placeholder="Выберите дату" class=modefied.calendarClass readonly)
      if modefied.isMonthPicker
        input.monthpicker(type="text" name="date" placeholder="Выберите месяц" class=modefied.calendarClass readonly)
      if modefied.isCalendar
        <div class="button button-icon sm calendar-close-icon" type="button" aria-label="button"><svg viewBox="0 0 10 6" width="10" height="6"><use xlink:href="#other-angle-down-icon"></use></svg></div>

  if modefied.view == 'link'
    a(
      href=modefied.href || "#"
      download=modefied.isDownload
      class="button " + modefied.class
      aria-label=modefied.ariaLabel
    )
      if modefied.icon
        svg
          use(xlink:href="#" + modefied.icon)
      if modefied.title && !modefied.isOnlyIcon
        span(class=modefied.isSwitchable ? 'narrowed' : '')= modefied.title
      if modefied.isClose
        svg.button-clear.filter-clear
          use(xlink:href="#other-close-icon")