mixin button(data = {})
  - const { defaults, mergeConfig } = require('./_defaults');
  - const modefied = mergeConfig(data);
  - const hasData = Object.keys(data).some(key => data[key] && data[key].length > 0)

  if hasData
    if modefied.view == 'button'
      button(
        type=modefied.type
        class="button " + modefied.class
        disabled=modefied.disabled
        ariaLabel=modefied.ariaLabel
      )
        if modefied.icon
          svg
            use(xlink:href="#" + modefied.icon)
        if modefied.title
          span(class=modefied.switchable ? 'narrowed' : '')= modefied.title
        if modefied.close
          svg.button-clear
            use(xlink:href="#other-close-icon")
        if modefied.calendar 
          svg
            use(xlink:href="#other-angle-down-icon")

    if modefied.view == 'link'
      a(
        href=data.href || "#"
        download=data.download
        class="button " + data.class
        aria-label=data.ariaLabel
      )
        if data.icon
          svg
            use(xlink:href="#" + data.icon)
        if data.title
          span(class=data.switchable ? 'narrowed' : '')= data.title
        if data.close
          svg.button-clear
            use(xlink:href="#other-close-icon")

  if !hasData && modefied.view == 'button'
    button(
      type=defaults.type
      class=defaults.class
      ariaLabel=defaults.ariaLabel
    )
      span= defaults.title
  
  if !hasData && modefied.view == 'link'
    a(
      href=defaults.href
      class=defaults.class
      aria-label=defaults.ariaLabel
    )
      span= defaults.title